.Nature{
    background: #aedf78;
  }
  .Crystal{
    background: #ea4968;
  }
  .Digital{
    background: #a5c1c2;
  }
  .Water{
    background: #43ccff;
  }
  .Toxic{
    background: #5c555c;
  }
  .Wind{
    background: #02edab;
  }
  .Neutral{
    background: #9a8a8a;
  }
  .Earth{
    background: #af7257;
  }
  .Mental{
    background: #c268a3;
  }
  .Fire{
    background: #e95c4d;
  }
  .Melee{
    background: #f8925f;
  }
  .Electric{
    background:#fee174 ;
  }
  .Unknown{
    background:#a5a5a5;
  }
  @keyframes gradient {
    0% {
      background-position: 0% 50%;
    }
    50% {
      background-position: 100% 50%;
    }
    100% {
      background-position: 0% 50%;
    }
  }

  .WaterToxic{

    background: linear-gradient(80deg, #43ccff , #5c555c );
	  background-size: 600% 600%;
	  animation: gradient 4s ease infinite;
  }
  
  .WaterWind{
    background:  linear-gradient(80deg, #43ccff, #06edab );
    background-size: 600% 600%;
	  animation: gradient 4s ease infinite;
  }
  .NeutralMelee{
    background:  linear-gradient(80deg, #9a8a8a, #f8965f );
    background-size: 600% 600%;
	  animation: gradient 4s ease infinite;
  }
  .NatureWater{
    background:  linear-gradient(80deg, #aedf78, #43ccff );
    background-size: 600% 600%;
	  animation: gradient 4s ease infinite;
  }
  .NatureWind{
    background:  linear-gradient(80deg, #aedf78, #06edab );
    background-size: 600% 600%;
	  animation: gradient 4s ease infinite;
  }
  .NeutralCrystal{
    background:  linear-gradient(80deg, #9a8a8a, #ea4968 );
    background-size: 600% 600%;
	  animation: gradient 4s ease infinite;
  }
  .NatureToxic{
    background:  linear-gradient(80deg, #aedf78, #5c555c );
    background-size: 600% 600%;
	  animation: gradient 4s ease infinite;
  }
  .WaterWind{
    background:  linear-gradient(80deg, #43ccff, #06edab );
    background-size: 600% 600%;
	  animation: gradient 4s ease infinite;
  }
  .ElectricNature{
    background:  linear-gradient(80deg, #fee174, #aedf78 );
    background-size: 600% 600%;
	  animation: gradient 4s ease infinite;
  }
  .WaterMelee{
    background:  linear-gradient(80deg, #43ccff, #f8925f );
    background-size: 600% 600%;
	  animation: gradient 4s ease infinite;
  }
  .ToxicMelee{
    background:  linear-gradient(80deg, #5c555c, #f8925f );
    background-size: 600% 600%;
	  animation: gradient 4s ease infinite;
  }
  .ToxicWind{
    background:  linear-gradient(80deg, #5c555c, #06edab );
    background-size: 600% 600%;
	  animation: gradient 4s ease infinite;
  }
  .ElectricWind{
    background:  linear-gradient(80deg, #fee174, #06edab );
    background-size: 600% 600%;
	  animation: gradient 4s ease infinite;
  }
  .CrystalWater{
    background:  linear-gradient(80deg, #ea4968, #43ccff );
    background-size: 600% 600%;
	  animation: gradient 4s ease infinite;
  }
  .WaterElectric{
    background:  linear-gradient(80deg, #43ccff, #fee174 );
    background-size: 600% 600%;
	  animation: gradient 4s ease infinite;
  }
  .ToxicMental{
    background:  linear-gradient(80deg, #5c555c, #c268a3 );
    background-size: 600% 600%;
	  animation: gradient 4s ease infinite;
  }
  .WindCrystal{
    background:  linear-gradient(80deg, #06edab, #ea4968 );
    background-size: 600% 600%;
	  animation: gradient 4s ease infinite;
  }
  .NatureMental{
    background:  linear-gradient(80deg, #aedf78, #ea4968 );
    background-size: 600% 600%;
	  animation: gradient 4s ease infinite;
  }
  .FireEarth{
    background:  linear-gradient(80deg, #e95c4d, #af7257 );
    background-size: 600% 600%;
	  animation: gradient 4s ease infinite;
  }
  .CrystalFire{
    background:  linear-gradient(80deg, #ea4968, #e95c4d );
    background-size: 600% 600%;
	  animation: gradient 4s ease infinite;
  }
  .EarthCrystal{
    background:  linear-gradient(80deg, #af7257, #ea4968 );
    background-size: 600% 600%;
	  animation: gradient 4s ease infinite;
  }
  .MentalWind{
    background:  linear-gradient(80deg, #c268a3, #06edab );
    background-size: 600% 600%;
	  animation: gradient 4s ease infinite;
  }
  .CrystalMelee{
    background:  linear-gradient(80deg, #ea4968, #f8925f );
    background-size: 600% 600%;
	  animation: gradient 4s ease infinite;
  }
  .CrystalMental{
    background:  linear-gradient(80deg, #ea4968, #c268a3 );
    background-size: 600% 600%;
	  animation: gradient 4s ease infinite;
  }
  